<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
    <link rel="shortcut icon" href="/Static/Imagens/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Static/css/styles-quemsomos.css">
    <link rel="stylesheet" href="/Static/css/normalize.css">
</head>

<body>
    <div class="cabecalho">
        <img class="logo" src="/Static/Imagens/logo.png" alt="Logo da empresa">
        <div class="link">
            <a href="./index.html">
                Home
            </a>

            <a href="./quem-somos.html">
                Quem somos
            </a>

            <a href="./contato.html">
                Contatos
            </a>
        </div>
    </div>
    <div class="corpo">
        <h1 class="quem-somos">
            Quem Somos
        </h1>
        <p class="paragrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit laborum odio fugiat modi, nulla quasi
            quam ipsum fuga earum non dolor excepturi adipisci labore voluptate aliquid eaque dolores impedit! Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Dolorum nam iusto pariatur! Iusto quibusdam eos beatae
            saepe commodi magni cumque aut maxime soluta dolor ducimus, ut dolorum distinctio? Aliquam, aut. Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. A eos quasi iure deserunt? A ducimus quo, nulla magni
            itaque facere ab sapiente quis molestiae odio cum corporis, sit dolorem doloribus.
        </p>

        <div class="motivos">
            <h1 class="motivos-lista">
                5 Motivos para estudar
            </h1>
            <div class="lista">
                <ul>
                    1. Material sempre atualizado
                </ul>
                <ul>
                    2. Tablets em sala de aula
                </ul>
                <ul>
                    3. Professores renomados
                </ul>
                <ul>
                    4. Universidade bem avaliada
                </ul>
                <ul>
                    5. Ótima localização
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="objetivos">
        <h1 class="obj">
            Objetivos
        </h1>
        <p class="texto-obj">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, eaque iste porro iure
            voluptatem inventore nemo esse eius deserunt itaque autem vero obcaecati, fugiat alias aut pariatur est
            maiores corrupti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque fugiat consequuntur
            distinctio maxime enim natus facilis, inventore nemo dolor, sequi optio obcaecati quo delectus. Omnis
            excepturi officia voluptate consequatur eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
            laboriosam corporis beatae, consequatur, doloremque itaque similique asperiores dolorum consequuntur fuga
            quos velit provident nostrum corrupti ab id neque expedita facilis?</p>

    </div>
    <div class="rodape">
        <h2>
            Todos os direitos reservados
        </h2>
    </div>
</body>

</html>